In [25]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [26]:
#can use \ to tell python to treat the next character as part of the string

In [27]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [28]:
'hello' == 'hello'

True

In [29]:
'hello' != 'hello'

False

In [30]:
'Hello' + 'how are you?'

'Hellohow are you?'

In [31]:
'Hello ' + 'how are you?'

'Hello how are you?'

In [32]:
'Hello' + ' ' + 'how are you?'

'Hello how are you?'

In [33]:
'2' == 2

False

In [34]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [36]:
#Store a string to the variable name
name = 'Stephen'

In [35]:
print(name)

Stephen

In [37]:
'Hello, {}!'.format(name)

'Hello, Stephen!'

In [38]:
f'Hello {name}!'

'Hello Stephen!'

In [39]:
# String Methods
# String objects have a bunch of useful methods that can be used to perform common text manipulation tasks. We will take a look at the most common ones here:

.lower and .upper:# convert the string to all lower or upper case
.strip:# remove any leading and trailing whitespace from the string
.isdigit:# test whether or not the string is a number
.split:# convert a string to a list
.join:# convert a list to a string

SyntaxError: invalid syntax (836178693.py, line 4)

In [40]:
numbers = [1, 2, 3]

In [41]:
numbers.append(4)

In [42]:
numbers

[1, 2, 3, 4]

In [43]:
numbers.pop(2)

3

In [44]:
numbers

[1, 2, 4]

In [45]:
numbers.append(3)

In [46]:
numbers

[1, 2, 4, 3]

In [47]:
numbers = [1, 2, 3, 4]

In [48]:
len(numbers)

4

In [50]:
numbers[-1]

4

In [51]:
my_tuple = (1, 2, 3)
my_tuple[1]

2

In [52]:
my_tuple

(1, 2, 3)

In [53]:
#tuples are Immutable
#Generally used when values are of different data types
#lists are generally used when all values are the same data type
#lists can be changed after creation, tuples can not

In [54]:
#Dictionaries can also be created with the built-in dict function:
dict(name='Codeup', age=4)

{'name': 'Codeup', 'age': 4}

In [56]:
school = dict(name='Codeup', age=4)

In [57]:
school['name']

'Codeup'

In [58]:
# specifying the dictionary['specifying the value to change'] = code you want to do to edit the dict
# see below

In [60]:
school['age'] + 1

5

In [61]:
school

{'name': 'Codeup', 'age': 4}